
html {
  font-size: 100%;
}

body{
  color: #24292e;
  font-family: "Sawarabi Gothic";

  padding-top:  100px;
  /* min-height: 100vh; */

  background-color: #FFF0F5;
  background-color: white;
  display: flex;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.3rem;
}

img {
  max-width:  100%;
}

li {
  list-style: none;
  font-size: 1.2rem;
}


/* sidebar */
.sidebar {
  position: fixed;
  top: 100px; /* headerの高さに合わせて適宜調整してください */
  left: 0px; /* sidebarの左からの位置を調整してください */
  text-align: center;
  border-right: solid #e9e9e9;
  min-height: 100vh;
  background: #eee;
}

.sidebar .sidebar-footer {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1e8eff;
  color: white;
  margin-top: 100px;

  
}

.sidebar ul li button {
  width: 200px;
  padding-left: 10px;
  padding: 10px;
  text-align: center;
}

.sidebar ul li button:hover {
  background-color: white;

}



/* right-sidebar */
.right-sidebar {
  position: fixed;
  top: 100px; /* headerの高さに合わせて適宜調整してください */
  right: 0px; /* sidebarの左からの位置を調整してください */
  text-align: left;
  border-right: solid #e9e9e9;
  min-height: 100vh;
  background: #eee;
  width: 230px;
  padding: 15px;
}

/* blog */

.blog {
  padding: 5px;
  background-color: white;
  margin-top: 5px;
}

.blog-title {
  color: black;
  font-size: 0.9rem;
  white-space: nowrap
}

.blog-createdAt{
  color: darkcyan;
  font-size: 0.7rem;
}

.blog .blog-title :hover {
  text-decoration:underline;
}

/*
  header
 */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 4%;
  box-shadow: 0 3px 6px rgba(0, 0, 0,0.2);

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: #eee;
  box-sizing: border-box;
}

#header ul {
  display: flex;
  padding-top: 30px;
  align-items: center;
  
}

#header li {
  font-size: 0.9rem;
  margin-left: 30px;
}

#header li a  {
  color: #24292e;
  transition: all 0.3s;
}

#header li a:hover {
  opacity: 0.5;
}

#header li img.icon {
  width: 30px;
}

header nav .username   {
  /* border: 1px #24292e; */
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid;

}
header nav .username span  {
  padding-left: 5px;
}

.site-title {
  line-height: 1px;
  font-weight: 60px;
  font-size: 2.4rem;
  
}


.site-title a {
  color: #24292e;
  display: block;
}

@media screen and (max-width: 1000px ) {
  .site-title {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  #header{
    flex-direction: column;
    height: auto;

  }  
  #header nav {
    display: none;
  }
  .sidebar{
    visibility:hidden;
  } 

  .right-sidebar {
    visibility: hidden;
  }
  body{
  
    padding-top:  80px;
  }

 
}





/* よく使うやつ */
.center {
  text-align: center;
}
.right {
  text-align: right;
}