.main {
  background-color: white;
  height:  100%;
  margin: 0 auto;
  width: 600px;
  padding-top:  50px;


}

.profile{
  display: flex;

  
}
.questionText {
  margin-top: 10px;
  margin-bottom: 10px;
}
.voted-count-text {
  text-align: right;
  font-size: 0.7rem;
  padding-right: 40px;
}
/*
   選択肢に関するcss 
*/

.content .choice {
  border: solid 0.5px #565656;  
  margin-bottom: 5px;
  font-size: 0.9rem;
  margin-left: 20px;
  width: 90%;
}

/* styleBackground  */
/* .content .choice .choice-contentのスタイル設定 */
.content .choice .choice-content {
  display: flex;
  align-items: center;
  position: relative;
  height: 1.5rem;
}

/* 選択した要素の背景 votedChoicedStyle */
.content .choice .choice-background {
  padding-left: 0.5rem;
  background-color: rgb(134, 239, 172);
  font-size: 0.75rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
}


/* 選択してない要素の背景 votedChoicedStyle */
.content .choice .not-choice-background {
  padding-left: 0.5rem;
  background-color: rgb(209 213 219);
  font-size: 0.75rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
}

/* パーセンテージ表示のスタイル設定 */
.content .choice .choice-percent {
  color: #565656;
  position: absolute;
  right: 0;
}

/* 選択テキストのスタイル設定 */
.content .choice .choice-text {
  padding-left: 0.5rem;
  font-size: 0.75rem;
  position: absolute;
  left: 0;
 
}
/* 

  styleBackground :relative
    -styleChoiceText
    -votedChoicedStyle 

*/


/* コメント部分 */
.comment-content textarea {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: solid 0.5px #565656;  
  padding:  10px;
}

form .submit-button-content{
  text-align:right
}

form .submit-button-content{
  text-align:right;
}

form .submit-button-content button{
  margin-top: 10px;
  background-color: #1e8eff;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom:5px;
}

.comment-list {
  display: flex;
  align-items: center;
  
}

@media screen and (max-width: 1000px ) {
  .main {
    margin: 0 30px;
  }
}