.main {
  background-color: white;
  height:  100%;
  margin: 0 auto;
  width: 600px;
  padding-top: 0px;
  
}
#card{
  width: 100%;
  margin: 10px;
}
button{
  text-align: left;
}


#card-header {
  display: flex ;
  justify-content: space-between;
}

#card-user {
  display: flex;
  align-items: center;

}

#card-user .card-user-id {
  color: #565656;
  font-size: 0.6rem;
}
#card-user .card-createdAt {
  color: #565656;
}
.choice {
  border: solid 0.5px #565656;  
  margin-bottom: 5px;
  padding: 2px;
  font-size: 0.9rem;
  margin-left: 40px;
  margin-right: 40px;
}




@media screen and (max-width: 600px ) {

  
  
  #card-user {
    display: flex;
    align-items: center;

  
  }
  
  #card-user .card-user-id {
    color: #565656;
    font-size: 0.6rem;
  }
  #card-header .card-createdAt {
    color: #565656;
    font-size: 0.5rem;

  }

  #card-header{
    align-items: center;
  }
}

@media screen and (max-width: 1000px ) {
  .main {
    margin: 0 30px;
  }
}